.content{
    max-width: 1100px;
    min-width: 660px;
    margin:0 auto;
}
.app{
    background: #e2e2e2;
    /* 限制最小宽度 */
    min-width: 820px;  
}
.lineBorder{
    border:1px solid #ccc;
}
p{
    margin:0;
    padding:0;
}
/* 过渡动效 */
.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
  .page-enter, .page-leave-active {
    opacity: 0;
  }